.container {
    margin: auto;
    width: 86%;

    .img-detailDoctor {
        height: 110px;
        width: 110px;
        border-radius: 50%;
        margin: auto;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    
    }

    .des-doctor {
        color: #555;
        font-size: 17px;
    }

    

}
.detailDoctor{
    width: 100%;
    background-color:#f9f9f9 ;
    padding: 20px 0;
    border-top: 1px solid #ccc;
}
.img-detailDoctor-profile {
    height: 110px;
    width: 110px;
    border-radius: 50%;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}