.home-header-container{
    height: 100px;
    
    .home-header-content{
        width: 90%;
        display: flex;
        align-items: center;
        height: 100px;
        margin: auto;
        .home-header-logo{
            height:100px;
            width: 5%;
            margin-left:10px;
            .logo{
                height: 100%;
                width: auto;
               background:url('../../assets/images/logo-dep.png') ;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                cursor: pointer;
            }
        }
       
        .home-header-icom{
            height: 100%;
            width: 10%;
           display: flex;
           justify-items: center;
            .icon-fa-align-justify{
                font-size: 26px;
                margin: auto;
                cursor: pointer;
            }
        }
        .home-header-content-content{
            width: 60%;            
            display: flex;
            justify-content: space-around;
            justify-items: center;
           .home-header-content-item{
            font-weight: bold;
            cursor: pointer;
            }
           
        }
        .home-header-sp{
           display: flex;
           width: 10%;
           justify-content: flex-end;
           justify-items: center; 
           cursor: pointer;
           .home-header-content-item{
            font-weight: bold;
            color: #969495;
            cursor: pointer;
           }
           .fa-question-circle-clor{
               margin-top: 2px;
               color: blue;
           }

        }
        .home-header-language{
            width: 10%;
            display: flex;
            justify-content: flex-end;
            .language-vn{
                font-weight: bold;
            color: #969495;
            cursor: pointer;
            margin-right: 10px;
            &.active{
                color: teal;
            }
            }
            .language-eg{
                font-weight: bold;
                color: #969495;
                cursor: pointer;
                &.active{
                    color: blueviolet;
                }
            }
        }
        
    }
    .home-header-background{
        background: url('../../assets/images/background_home.jpg');
        background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                height: 485px;
                
                .header-background-Item{
                    display: flex;
                    justify-content: space-between;
                    width: 60%;
                    margin: auto;
                    margin-top: 130px;
                    .header-background-link{
                        text-decoration: none;
                        
                        
                            .background-link-item1{
                                background-color: white;  
                                border-radius: 50%;
                               background-image: url('../../assets/images/1-khamchuyenkhoa.png');
                                width: 50px;
                                height: 50px;
                                background-size: 32px;
                                background-repeat: no-repeat;
                                background-position: center;
                                margin:2px auto;
                                box-shadow: 0px 1px 2px #000;
                        }
                        .background-link-item2{
                            background-color: white;     
                            border-radius: 50%;
                           background-image: url('../../assets/images/2-khamtuxa.png');
                            width: 50px;
                            height: 50px;
                            background-size: 32px;
                            background-repeat: no-repeat;
                            background-position: center;
                            margin:2px auto;
                            box-shadow: 0px 1px 2px #000;
                    }
                    .background-link-item3{
                        background-color: white;         
                        border-radius: 50%;
                        background-image: url('../../assets/images/133744-khamtongquat.png');
                        width: 50px;
                        height: 50px;
                        background-size: 32px;
                        background-repeat: no-repeat;
                        background-position: center;
                        margin:2px auto;
                        box-shadow: 0px 1px 2px #000;
                }
                .background-link-item4{
                    background-color: white;             
                    border-radius: 50%;
                   background-image: url('../../assets/images/133744-dichvuxetnghiem.png');
                    width: 50px;
                    height: 50px;
                    background-size: 32px;
                    background-repeat: no-repeat;
                    background-position: center;
                    margin:2px auto;
                    box-shadow: 0px 1px 2px #000;
            }
            .background-link-item5{
                background-color: white;              
                border-radius: 50%;
                background-image: url('../../assets/images/133744-suckhoetinhthan.png');
                width: 50px;
                height: 50px;
                background-size: 32px;
                background-repeat: no-repeat;
                background-position: center;
                margin:2px auto;
                box-shadow: 0px 1px 2px #000;
        }
        .background-link-item6{
            background-color: white;                     
            border-radius: 50%;
           background-image: url('../../assets/images/104635-khamnhakhoa.png');
            width: 50px;
            height: 50px;
            background-size: 32px;
            background-repeat: no-repeat;
            background-position: center;
            margin:2px auto;
            box-shadow: 0px 1px 2px #000;
    }
    .background-link-item7{
        background-color: white;                        
        border-radius: 50%;
        background-image: url('../../assets/images/151930-phau-thuat.jpg');
        width: 50px;
        height: 50px;
        background-size: 32px;
        background-repeat: no-repeat;
        background-position: center;
        margin:2px auto;
        box-shadow: 0px 1px 2px #000;
}
.background-link-item8{
    background-color: white;                             
    border-radius: 50%;
   background-image: url('../../assets/images/133744-khamtainha.png');
    width: 50px;
    height: 50px;
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: center;
    margin:2px auto;
    box-shadow: 0px 1px 2px #000;
}
                
.background-link-item-text{
    text-align: center;
    color: rgb(0,0,0);
    font-size: 15px;
    text-shadow: 1px 1px 1px #333;
    &:hover{
        color: rgb(25, 32, 232);
        text-shadow: 1px 1px 1px rgb(11, 19, 237);
    }
}
                    }
                }
                .header-background-conten-title1{
                    text-align: center;
                    font-size: 30px;
                    text-shadow: 1px 1px 1px #e6dbdb;
                    color: rgb(77, 74, 74);
                }
                .header-background-conten-title2{
                    text-align: center;
                    font-size: 30px;
                    text-shadow: 1px 1px 1px #e6dbdb;
                    color: rgb(77, 74, 74);
                }
                .header-background-conten-search{
                    width: 700px;
                    height: 50px;
                    background: rgb(233, 225, 230);
                    color:rgb(14, 13, 13);
                    margin: auto;
                    display: flex;
                    border-radius: 25px;
                    outline: none;
                    border: 1px solid transparent;
                    
                   
                    .custom-Input{
                        height: 100%;
                        width: 80%;
                        border: none;
                        outline: none;
                        background-color:rgb(233, 225, 230) ;
                        color: rgb(14, 13, 13);
                        font-size: 20px;
                    }
                    .search-icon{
                        width: 10%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        .custom-search{
                            font-size: 25px;
                            line-height: 100%;
                            text-align: center;
                            margin-left: 15px;
                           
                        }
                    }
                }

    }
}
