
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.login_container{
    background-image:linear-gradient(rgba(81,182,164,255),rgba(82,212,166,255));
    height: 100vh;
    
}
.login_container-body{
    margin: auto;
    padding: 0;
    position: fixed;
    height: 70%;
    width: 27%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    border-radius: 10px;

}
.login_container-header{
    text-align: center;
    box-sizing: border-box;
    padding-top: 50px;
    font-size: 30px;
    font-weight: bold;
}
.btn-login{
    width: 96%;
    height: 40px;
    border-radius: 12px;
    margin: auto;
    background-image:linear-gradient(rgba(81,182,164,255),rgba(82,212,166,255));
}
.socail-login{
    display: flex;
    justify-content: center;

}
.google-icon-login{
    font-size: 25px;
    width: 50px;
    height: 50px;
    color: white;
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.facebook-icon-login{
    font-size: 25px;
    width: 50px;
    height: 50px;
    color: white;
    background-color: blue;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.custom-passWork{
    display: flex;
    position: relative;
}
.eye-pass{
position: absolute;
margin: auto;
right: 15px;
bottom:10px ;

}
i{cursor: pointer;}
