.container-content{
    width: 70%;
    margin-top: 30px;
    label{
        width: 20%;

    }
    .margin-left-30{
        margin-left: 150px;
    } 
    .margin-left-60{
        margin-left: 180px;
    }
    h3{
        color: blue;
        text-align: center;
    }
    input{
        width: 80%;
        
    }
    button{
        margin-top: 50px;
        margin-left: 120px;
    }
    .display-flex-form{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 20px;
    }
    .Avata-redux{
        height: 100px;
        margin-right: 400px;
       
    }
    img{
        width: auto;
        height: 100%;
    }
}