

    

.OutstandingDoctor{
    //margin-top: 600px;
    height: 330px;
   
   
    .OutstandingDoctor-conten{
        height: 260px;
        width: 80%;
        margin: auto;
     
     
      .OutstandingDoctor-slider{
        height: 260px !important;
        margin-top: 50px;
      }
        .slick-slider {
            height: 260px !important;
            
            
        }
     
       .slick-next {
        right:  10px;
     }
      .slick-prev{
        left: -15px;
     }
     .slick-prev, .slick-next {
        font-size: 50px;
        line-height: 0;
        position: absolute;
        top: 50%;
        display: block;
        width: 40px;
        height: 40px;
        padding: 0;
        transform: translate(0, -50%);
        cursor: pointer;
        color: transparent;
        outline: none;
        background:#ddd;
        z-index: 1;
    }
    .OutstandingDoctor-img{
      
        height:220px;
        margin-top: 30px;
        //padding-right: 20px;
        width: 90% !important;
        border: 1px solid #eee;
        text-align: center;
        background: rgba(255,255,255,1);
       
        
      
        .backgroundImg-doctor{
            height: 90px;
            width: 90px;
            border-radius: 50%;
            margin: auto;
            margin-top: 20px;
            margin-bottom: 20px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            cursor: pointer;
           
        
          
        }
       a{
        text-decoration: none;
       }
    }
    }

}

    

